body {
	background-color: #white;
}

h1{
	font-weight: bold;
}

img {
	width: 100%;
}

#layGuide {
	background-color: white;
	text-align: center;
	opacity: .4;

}

h4 {
	color: black;
	opacity: 1.0;
}

span {
	color: black;
	opacity: 1.0;
}

li {
	list-style-type: none;
}

#wordToSolve {
	font-weight: bold;
	font-size: 25px;
}
